<div class="bg-lavender">
    <p class="text-center text-sm text-rebeccapurple pt-2.5">Bambou Franceschini</p>
    <nav class="text-center font-bold pb-2.5 text-rebeccapurple bg-lavender">
        <a href="/" class="text-rebeccapurple">Accueil</a>
    </nav>
</div>