<nav>
    <a href="/">Accueil</a>
    <a href="/offres">Offres</a>
</nav>

<style>
    nav{
        text-align: center;
        padding-bottom : 20px;
        background-color: lavender;
    }
    a {
        margin: 15px;
        text-decoration: none;
        font-weight: bold;
        color: rebeccapurple;
        background-color: lavender;
    }
</style>