---
import Layout  from '../../../layouts/Layout.astro';

import { bySurface } from '../../../js/backend.mjs';
import Card from '../../../components/card.astro';
const { surface } = Astro.params;
const recordsSurface = await bySurface(surface);
---


<Layout>
    <h1 class="text-fuchsia-950 font-bold">Maisons de plus de {surface} m²</h1>
    <ul>
        {
            recordsSurface.map((record) => (
                <Card offre={record} />
            ))
        }
    </ul>
</Layout>


